*{
    margin: 0;
    padding: 0;
}

body{
    background: url("../img/Fondo.jpg");
    background-size: cover;
}

section{
    width: 90%;
    height: 750px;
    margin: 120px auto;
    display: flex;
    /*align-items: center; /*Propiedades propias de display flex */
    justify-content: center;
}

.cont-botones{
    width: 50%;
    text-align: center;
    padding: 40px;
    border: 4px solid white;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.cont-figura{
    width: 50%;
    text-align: center;
    padding: 40px;
    border: 4px solid white;
}

h2{
    color: white;
    font-size: 40px;
    margin-bottom: 30px;
}

.cont-botones button{
    background: white;
    color: black;
    padding: 12px 30px;
    border: 1px solid aqua;
    margin: 10px;
    transition: .5s;
    cursor: pointer;
}

.cont-botones button:hover{
    transform: scale(1.2);
    background: transparent;
    color: white;
}

.cont-figura #figura{
    width: 220px;
    height: 220px;
    background: white;
    margin: 40px auto;
    transition: 1s;
}

#figura.circulo{
    border-radius: 50%;
    transition: 1s;
    background-image: ;
}

#figura.rectangulo{
    width: 738px;
    background: aqua;
    transition: 1s;
}

#figura.degrade{
    width: 500px;
    height: 500px;
    background: linear-gradient( to blue, white,black);
   
}

#figura.gif{
    background: url("../img/.gif");
    width: 500px;
    height: 500px;
    transition: 1s;

}
#figura.arriba{
    transform: translateY(-250px);
    transition: 1s;
    background: aqua;
}
#figura.abajo{
    transform: translateY(250);
    transition: 1s;
    background:aquamarine;
}
#figura.izquierda{
    transform: translateX(-150px);
    background:aqua;
    transition: 1s;

}
#figura.derecha {
    transform: translateX(150px);
    background-color: aqua;
    transform: 1s;
}
#figura.diagonal {
    background-color: aquamarine;
    transform: translate(-150px, 150px);
    transition: 1s;
    

}